@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Prompt:wght@500&family=Raleway:wght@200;300;500;700&display=swap');
@import url(./theme.css);
@import url(./button.css);

html, body, div {
  overflow-x: hidden;
  margin: 0;
}

body {
  display: flex;
  font-family: 'Google Sans', sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body > * {
  margin: 0 0 10px 0;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

p {
  margin: 5px 5px 5px 5px;
}

.hwEntry, .hwInfo {
  position: relative;
  left: 30px
}

pre.hwDesc, pre.hwDesc code {
  display: block;
  white-space: pre-wrap;
}

pre.hwDesc {
  width: calc(100% - 100px);
  padding: 5px 5px 5px 5px;
  border: 1px solid var(--txt-color);
  border-radius: 5px;
}

pre.hwDesc code {
  width: 100%;
}

#details {
  height: 70%;
  width: 90%;
  padding: 10px 10px 10px 10px;
  overflow-y: scroll;
  border: 1px solid var(--txt-color);
  border-radius: 5px;
}

hr {
  border-color: #afafaf6a;
}

.hwStatus {
  font-weight: 500;
  font-size: 1.1rem;
}

.horizontal > * {
  display: inline-block;
}